#download-page {
    padding-top: 100px;
}
.outer {
    height: 471px;
    width: 50%;
    background-color: #FBF3F0;
    margin: auto;
    border-radius: 100px;
}
.inner {
    height: auto;
    width: 100%;
    margin: auto;
    transform: translateY(50%);
}
.inner-text-section {
    text-align: center;
    font-family: "Gotham", sans-serif;
    color: #494980;
    margin: auto;
}
.inner-text-section h1{
    font-size: 46px;
    font-weight: 800;
}
.inner-text-section p{
    font-size: 18px;
    font-weight: 400;
}
.btn-div {
    justify-content: center;
    display: flex;
    margin: auto;
}
.btn-div button{
    height: 72px;
    width: 228px;
    border-radius: 50px;
    border: none;
    margin-top: 60px;
}
.btn-div .btn-1 button{
    margin-right: 20px;
    background: url("../images/Group48095582.png") no-repeat center;
    background-size: cover;
}
.btn-div .btn-2 button{
    margin-left: 20px;
    background: url("../images/Group48095585.png") no-repeat center;
    background-size: cover;
}


@media(max-width:1100px){
    .outer {
        width: 70%;
    }
}
@media(max-width:850px){
    .outer {
        width: 80%;
    }
    .btn-div button{
        height: 60px;
        width: 180px;
    }
}
@media(max-width:630px){
    .outer {
        height: 550px;
        width: 90%;
    }
    .btn-div {
        flex-direction: column;
        align-items: center;
    }
    .btn-div .btn-1 button{
        margin: auto;
        margin-top: 50px;
    }
    .btn-div .btn-2 button{
        margin: auto;
        margin-top: 20px;
    }
    .inner-text-section h1{
        font-size: 35px;
    }
    .inner-text-section p{
        font-size: 16px;
    }
}