li:not(:last-child) {
    margin-bottom: 10px;
}
li a {
    text-decoration:none;
    color: #8B8D8F;
}
.outer-footer {
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}
.inner-1 {
    height: 150px;
    width: 220px;
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 7%;
}
.list {
    list-style-type: none;
    padding: 0;
}
.title-1 {
    font-size: 40px;
    color: #243346;
    font-weight: 800;
}
.para-1 {
    margin-top: 20px;
    color: #8B8D8F;
    font-size: 13px;
    font-weight: 500;
}

.inner-3 {
    height: 150px;
    width: 400px;
    margin-left: 5%;
    margin-top: 100px;
}

.inner-5 {
    height: 150px;
    width: 400px;
    margin-left: 5%;
    margin-top: 100px;
}
.title {
    font-size: 22px;
    color: #243346;
    font-weight: 800;
    padding-bottom: 20px;
}
.pera {
    font-size: 18px;
    font-weight: 500;
}
.social {
    padding-bottom: 20px;
}
.social a {
    margin-right: 30px;
    font-size: 30px;
    color: #243346;
}
.btn-cls-1 {
    height: 38px;
    width: 120px;
    border-radius: 15px;
    border: none;
    background: url("../images/Group48095582.png") no-repeat center;
    background-size: cover;
    margin-right: 10px;
}
.btn-cls-2 {
    height: 38px;
    width: 120px;
    border-radius: 15px;
    border: none;
    background: url("../images/Group48095585.png") no-repeat center;
    background-size: cover;
}
.footer-2 {
    height: auto;
    width: 100%;
    background-color: #494980;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}
.footer-2 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.footer-left-1 {
    margin-left: 10%;
}
.footer-left-2 {
    margin-left: 10%;
    margin-right: 10%;
}
.footer-right {
    margin-left: auto;
    order: 2;
    margin-right: 15%;
}

@media(max-width: 940px) {
    .btn-cls-2 {
        margin-top: 10px;
    }   
}
@media(max-width: 720px) {
    .outer-footer {
        flex-direction: column;
    }
    .inner-1 {
        width: 200px;
    }
    .inner-3 {
        margin-top: 20px;
        margin-left: 10%;
        width: 270px;
    }
    .inner-5 {
        margin-top: 20px;
        margin-left: 10%;
        width: 270px;
    }
    
}