@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

.navbar {
    position: fixed;
    width: 100%;
    padding: 7px;
    background-color: rgba(31, 42, 56, 0.5);
    font-family: sans-serif;
    z-index: 100;
}
.navbar .max-width {
    max-width: 1300px;
    padding: 0 10%;
    margin: auto;
}
.logo a{
    color: #FFC453;
    font-size: 53.74px;
    font-weight: 400;
    text-decoration:none;
    padding-right: 15%;
    font-family: "Akronim", sans-serif;
}
.max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    margin-right: 10%;
    list-style: none;
    display: inline-block;
}
.menu a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    font-family: "Poppins", sans-serif;
    margin-left: 60px;
    position: relative;
}
.navbar .nav-btn {
    border: none;
    background-color: transparent;
      display: none;
      margin-right: 5%;
  }
#hidden {
      display: flex;
  }
.menu-btn {
     color: white;
      transform: scale(2.5);
      cursor: pointer;
  } 
.menu-btn:hover {
      border: 1px solid white;
      border-radius: 2px;
      padding: 2px;
}

@media(max-width:1100px) {
    .navbar .max-width {
        padding: 0 7.5%;
    }
    .menu {
        margin-right: 7.5%;
    }
}
@media(max-width:900px) {
    .navbar .max-width {
        padding: 0 5%;
    }
    .menu {
        margin-right: 5%;
    }
    .menu a {
        margin-left: 40px;
    }
}
@media(max-width:700px) {
    .navbar .nav-btn{
        display: flex;
    }
    .menu a{
        display: none;
    }
    #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: auto;
        width: 100%;
        background-color: rgba(31, 42, 56, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hidden a {
        display: flex;
        margin: 12px;
        font-size: 20px;
    }
}